<nav class="sticky top-0">

    <div class="w-full h-[30px] bg-linear-to-r from-green-600 via-green-400 to-green-600 flex items-center justify-center text-shadow-lg">
        <p class="text-white">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <a href="../../pages/shop-page/shop-page.html" class="underline text-bold">Shop Now</a></p>
    </div>

    <div class="w-full h-[60px] flex border-b-1 border-gray-300 justify-between bg-white/50 shadow-lg">
        <div class="flex items-center space-x-3 w-full">
            <div class="w-[60%] h-full flex items-center justify-around">
            <div class="flex items-center space-x-3">
                <h1 class="no-underline font-bold text-xl text-shadow-lg text-green-600">Electronics Store</h1>
                <ul class="flex">
                    <li><a class="px-3 py-2 hover:underline hover:text-orange-400" href="../../pages/home-page/home-page.html">Home</a></li>
                    <li><a class="px-3 py-2 hover:underline hover:text-orange-400" href="../../pages/contact-page/contact-page.html">Contact</a></li>
                    <li><a class="px-3 py-2 hover:underline hover:text-orange-400" href="../../pages/about-page/about-page.html">About</a></li>
                    <li><a class="px-3 py-2 hover:underline hover:text-orange-400" href="../../pages/signup-page/signup-page.html">Sign Up</a></li>
                </ul>
            <button type="button" class="px-3 py-1 bg-linear-to-b from-orange-400 to-orange-600 text-white font-medium rounded-md hover:bg-orange-300 cursor-pointer shadow-lg outline-2 outline-orange-500"><a href="../../pages/shop-page/shop-page.html">Shop</a></button>
        </div>
            </div>

            <div class="w-[40%] h-full flex items-center">
                <div class="flex items-center justify-around space-x-3">
                    <input type="text" placeholder="What are you looking for?" class="bg-linear-to-b from-green-300 to-gray-200 px-4 py-1 rounded-md outline-none placeholder-gray-500 opacity-60">
                    <i class="fa-solid fa-magnifying-glass text-shadow-lg text-gray-500"></i>
                    <button typr="button" class="bg-linear-to-b from-green-400 to-green-600 outline-2 outline-green-500 text-white px-3 py-1 rounded-md font-medium hover:bg-green-400 shadow-lg"><a href="../../pages/sign-in-page/sign-in-page.html">Log in</a></button>
                </div>
            </div>
        </div>
</nav>