<footer>

    <div class="w-full h-[350px] bg-linear-to-b from-green-400 to-green-600">
        <div class="w-full h-[90%] border-b-1 border-green-500 flex justify-center py-10">
            <ul class="w-[80%] flex">
                <li class="w-[20%] h-full space-y-2">
                    <h2 class="text-white font-bold text-xl text-shadow-lg">Exclusive</h2>
                    <p class="text-white font-medium">Subscribe</p>
                    <p class="text-white">Get 10% off your first order</p>
                    <p class="w-[70%] p-1 text-white border-1 border-white rounded-md"><input type="email" placeholder="Enter your email" class="placeholder-white outline-none"><i class="fa-regular fa-paper-plane rotate-40 cursor-pointer"></i></p>
                </li>
                <li class="w-[20%] h-full space-y-2">
                    <h2 class="text-white font-bold text-xl text-shadow-lg">Support</h2>
                    <p class="text-white">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
                    <p class="text-white">retroelectronics@gmail.com</p>
                    <p class="text-white">+88015-88888-9999</p>
                </li>
                <li class="w-[20%] h-full space-y-2">
                    <h2 class="text-white font-bold text-xl text-shadow-lg">Account</h2>
                    <p class="text-white"><a href="../../pages/account-page/account-page.html">My Account</a></p>
                    <p class="text-white"><a href="../../pages/signin-page/signin-page.html">Login</a> / <a href="../../pages/signup-page/signup-page.html">Register</a></p>
                    <p class="text-white"><a href="../../pages/cart-page/cart-page.html">Cart</a></p>
                    <p class="text-white">Wishlist</p>
                    <p class="text-white"><a href="../../pages/shop-page/shop-page.html">Shop</a></p>
                </li>
                <li class="w-[20%] h-full space-y-2">
                    <h2 class="text-white font-bold text-xl text-shadow-lg">Quick Link</h2>
                    <p class="text-white">Privacy Policy</p>
                    <p class="text-white">Terms Of Use</p>
                    <p class="text-white">FAQ</p>
                    <p class="text-white">Contact</p>
                </li>
                <li class="w-[20%] h-full space-y-4">
                    <h2 class="text-white font-bold text-xl text-shadow-lg">Download App</h2>
                    <p class="text-white">Save $3 with App New User Only</p>
                    <div class="flex w-full items-center justify-around pr-6">
                        <div class="w-[50%]">
                            <img src="../../public/Qr Code.png" alt="qrcode" class="w-[100px]">
                        </div>
                        <div class="w-[50%]">
                            <img class="w-[120px] mb-1" src="../../public/GooglePlay.png" alt="googleplay">
                            <img class="w-[120px]" src="../../public/AppStore.png" alt="appstore">
                        </div>
                    </div>
                    <ul class="flex text-white text-xl justify-around text-center text-shadow-lg">
                        <li><i class="fa-brands fa-facebook-f"></i></li>
                        <li><i class="fa-brands fa-x-twitter"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                        <li><i class="fa-brands fa-pinterest"></i></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="w-full h-[10%]">
            <p class="text-green-400 text-center">©Copyright Rimel 2022. All right reserved</p>
        </div>
    </div>
</footer>